@CHARSET "UTF-8";
body,p,a,div,span,ul,li {
	margin:0;
	padding:0;
	border:0;
}
textarea { margin:0; }
/**
 * display
 */
.dis_0, .dis_hide { display: none; }
.dis_1, .dis_show, .dis_show_blk, .dis_blk { display: block; }
.dis_2, .dis_show_inb, .dis_inb { display: inline-block; }
.dis_3, .dis_show_inl, .dis_inl { display: inline; }
/**
 * margin
 */
.mar_auto { margin-left: auto;margin-right: auto;}
.mar_t, .mar_t0 { margin-top:1px; }
.mar_t1 { margin-top:2px; }
.mar_t2 { margin-top:4px; }
.mar_t3 { margin-top:8px; }
.mar_t4 { margin-top:16px; }
.mar_t5 { margin-top:32px; }
.mar_t6 { margin-top:64px; }
.mar_t7 { margin-top:128px; }
.mar_r, .mar_r0 { margin-right:1px; }
.mar_r1 { margin-right:2px; }
.mar_r2 { margin-right:4px; }
.mar_r3 { margin-right:8px; }
.mar_r4 { margin-right:16px; }
.mar_r5 { margin-right:32px; }
.mar_r6 { margin-right:64px; }
.mar_r7 { margin-right:128px; }
.mar_b, .mar_b0 { margin-bottom:1px; }
.mar_b1 { margin-bottom:2px; }
.mar_b2 { margin-bottom:4px; }
.mar_b3 { margin-bottom:8px; }
.mar_b4 { margin-bottom:16px; }
.mar_b5 { margin-bottom:32px; }
.mar_b6 { margin-bottom:64px; }
.mar_b7 { margin-bottom:128px; }
.mar_l, .mar_l0 { margin-left:1px; }
.mar_l1 { margin-left:2px; }
.mar_l2 { margin-left:4px; }
.mar_l3 { margin-left:8px; }
.mar_l4 { margin-left:16px; }
.mar_l5 { margin-left:32px; }
.mar_l6 { margin-left:64px; }
.mar_l7 { margin-left:128px; }
/**
 * padding
 */
.pad_t, .pad_t0 { padding-top:1px; }
.pad_t1 { padding-top:2px; }
.pad_t2 { padding-top:4px; }
.pad_t3 { padding-top:8px; }
.pad_t4 { padding-top:16px; }
.pad_t5 { padding-top:32px; }
.pad_t6 { padding-top:64px; }
.pad_t7 { padding-top:128px; }
.pad_r, .pad_r0 { padding-right:1px; }
.pad_r1 { padding-right:2px; }
.pad_r2 { padding-right:4px; }
.pad_r3 { padding-right:8px; }
.pad_r4 { padding-right:16px; }
.pad_r5 { padding-right:32px; }
.pad_r6 { padding-right:64px; }
.pad_r7 { padding-right:128px; }
.pad_b, .pad_b0 { padding-bottom:1px; }
.pad_b1 { padding-bottom:2px; }
.pad_b2 { padding-bottom:4px; }
.pad_b3 { padding-bottom:8px; }
.pad_b4 { padding-bottom:16px; }
.pad_b5 { padding-bottom:32px; }
.pad_b6 { padding-bottom:64px; }
.pad_b7 { padding-bottom:128px; }
.pad_l, .pad_l0 { padding-left:1px; }
.pad_l1 { padding-left:2px; }
.pad_l2 { padding-left:4px; }
.pad_l3 { padding-left:8px; }
.pad_l4 { padding-left:16px; }
.pad_l5 { padding-left:32px; }
.pad_l6 { padding-left:64px; }
.pad_l7 { padding-left:128px; }
/**
 * border dotted
 */
.bod_dot_t, .bod_dot_t0 { border-top:1px dotted #bdbdbd; }
.bod_dot_t1 { border-top:2px dotted #bdbdbd; }
.bod_dot_t2 { border-top:4px dotted #bdbdbd; }
.bod_dot_t3 { border-top:8px dotted #bdbdbd; }
.bod_dot_r, .bod_dot_r0 { border-right:1px dotted #bdbdbd; }
.bod_dot_r1 { border-right:2px dotted #bdbdbd; }
.bod_dot_r2 { border-right:4px dotted #bdbdbd; }
.bod_dot_r3 { border-right:8px dotted #bdbdbd; }
.bod_dot_b, .bod_dot_b0 { border-bottom:1px dotted #bdbdbd; }
.bod_dot_b1 { border-bottom:2px dotted #bdbdbd; }
.bod_dot_b2 { border-bottom:4px dotted #bdbdbd; }
.bod_dot_b3 { border-bottom:8px dotted #bdbdbd; }
.bod_dot_l, .bod_dot_l0 { border-left:1px dotted #bdbdbd; }
.bod_dot_l1 { border-left:2px dotted #bdbdbd; }
.bod_dot_l2 { border-left:4px dotted #bdbdbd; }
.bod_dot_l3 { border-left:8px dotted #bdbdbd; }
/**
 * border solid
 */
.bod_sol_t, .bod_sol_t0 { border-top:1px solid #bdbdbd; }
.bod_sol_t1 { border-top:2px solid #bdbdbd; }
.bod_sol_t2 { border-top:4px solid #bdbdbd; }
.bod_sol_t3 { border-top:8px solid #bdbdbd; }
.bod_sol_r, .bod_sol_r0 { border-right:1px solid #bdbdbd; }
.bod_sol_r1 { border-right:2px solid #bdbdbd; }
.bod_sol_r2 { border-right:4px solid #bdbdbd; }
.bod_sol_r3 { border-right:8px solid #bdbdbd; }
.bod_sol_b, .bod_sol_b0 { border-bottom:1px solid #bdbdbd; }
.bod_sol_b1 { border-bottom:2px solid #bdbdbd; }
.bod_sol_b2 { border-bottom:4px solid #bdbdbd; }
.bod_sol_b3 { border-bottom:8px solid #bdbdbd; }
.bod_sol_l, .bod_sol_l0 { border-left:1px solid #bdbdbd; }
.bod_sol_l1 { border-left:2px solid #bdbdbd; }
.bod_sol_l2 { border-left:4px solid #bdbdbd; }
.bod_sol_l3 { border-left:8px solid #bdbdbd; }
/**
 * width percent
 */
.wid_per, .wid_per0 { width:0%; }
.wid_per1 { width:10%; }
.wid_per2 { width:20%; }
.wid_per3 { width:30%; }
.wid_per4 { width:40%; }
.wid_per5 { width:50%; }
.wid_per6 { width:60%; }
.wid_per7 { width:70%; }
.wid_per8 { width:80%; }
.wid_per9 { width:90%; }
.wid_per10 { width:100%; }
.wid_r, .wid_r0 { width:1%; }
.wid_r1 { width:2%; }
.wid_r2 { width:4%; }
.wid_r3 { width:8%; }
.wid_r4 { width:16%; }
.wid_r5 { width:32%; }
.wid_r6 { width:64%; }
/**
 * width pix
 */
.wid_pix, .wid_pix0 { width:0px; }
.wid_pix1 { width:10px; }
.wid_pix2 { width:20px; }
.wid_pix3 { width:30px; }
.wid_pix4 { width:40px; }
.wid_pix5 { width:50px; }
.wid_pix6 { width:60px; }
.wid_pix7 { width:70px; }
.wid_pix8 { width:80px; }
.wid_pix9 { width:90px; }
.wid_pix10 { width:100px; }
.wid_pix20 { width:200px; }
.wid_pix30 { width:300px; }
.wid_pix40 { width:400px; }
.wid_pix50 { width:500px; }
.wid_pix60 { width:600px; }
.wid_pix70 { width:700px; }
.wid_pix80 { width:800px; }
.wid_pix90 { width:900px; }
.wid_pix100 { width:1000px; }
.wid_pix120 { width:1200px; }
.wid_pix140 { width:1400px; }
.wid_p, .wid_p0 { width:1px; }
.wid_p1 { width:2px; }
.wid_p2 { width:4px; }
.wid_p3 { width:8px; }
.wid_p4 { width:16px; }
.wid_p5 { width:32px; }
.wid_p6 { width:64px; }
.wid_p7 { width:128px; }
.wid_p8 { width:256px; }
.wid_p9 { width:512px; }
.wid_p10 { width:1024px; }

.clr {
	clear: both;
}
.l {
	float: left;
}
.r {
    float: right;
}
.main {
    width: 100%;
}

.l.container {
	padding:0 1% 0 1%;
	float: left;
	width:67%;
	overflow: auto;
	border-right:1px dotted #bdbdbd
}
.r.container {
    margin:0 1% 0 0;
	float: right;
	width:29%;
    overflow: auto;
}

.l .t,.r .t {
    border-bottom:1px dotted #bdbdbd
}
.l .c,.r .c {
	margin:0;
	padding:16px 0 16px 0;
    height:500px;
    border-bottom:1px dotted #bdbdbd
}
.e {
	padding:16px 1% 0 1%;
}