doctype html
html
  head
    title= '请登录'
    link(type='text/css', href='/jquery/jquery-ui-1.10.3.custom/css/flick/jquery-ui.css', media='all', rel='stylesheet')
    link(type='text/css', href='/webix/webix.css', rel='stylesheet')
    link(type='text/css', href='css/base.css', rel='stylesheet')
    link(type='text/css', href='/jquery/pnotify-1.2.0/devnote.css', rel='stylesheet')
    link(type='text/css', href='/jquery/pnotify-1.2.0/oxygen/icons.css', rel='stylesheet')
    link(type='text/css', href='/jquery/pnotify-1.2.0/jquery.pnotify.default.css', rel='stylesheet')
    link(type='text/css', href='/jquery/pnotify-1.2.0/jquery.pnotify.default.icons.css', rel='stylesheet')
    link(type='text/css', href='/css/main.css',  rel='stylesheet')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/jquery/jquery-1.10.2.js')
    script(type='text/javascript', src='/jquery/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js')
    script(type='text/javascript', src='/jquery/pnotify-1.2.0/jquery.pnotify.js')
    script(type='text/javascript', src='/webix/webix_debug.js')
  body
    script(type='text/javascript', src='/js/base.js')
